# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
chatbot/node_modules
chatbot/.pnp
chatbot/.pnp.js

# testing
chatbot/coverage

# production
chatbot/build

# logs
chatbot/npm-debug.log*
chatbot/yarn-debug.log*
chatbot/yarn-error.log*

server/venv
server/**/__pycache__

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
